In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
import logging

# create logger
log = logging.getLogger('hot1_encoding_logger')
log.setLevel(logging.DEBUG)

def hot1_encoding(df, index):
    log.info("\nApplying Hot 1 encoding method to column {}".format(index))
    #
    s= df[index]
    #
    m_value_counts= s.value_counts()
    log.info("m_value_counts={}".format(m_value_counts))
    
    for k,v in m_value_counts.iteritems():
        uv_mask= (df[index] == k).astype(float)
        new_field= "Field_sourceCol_{}_value_{}".format(index, k)
        df[new_field]= uv_mask
    
    del df[index]

In [4]:
from datetime import datetime

def extract_day_of_week(s):
    d= datetime.strptime(s, '%m-%d-%Y')
    return d.weekday()

In [5]:
def get_reconstruction_from_projection(eigenvectors, Mean, m_projection):
    Eig= np.matrix(eigenvectors)
    rec = np.array(m_projection * Eig.transpose() + Mean)
    #rec= Eig*m_projection.transpose()+Mean[:,np.newaxis]
    return np.ravel(rec)

In [6]:
m_fwy_meta_df= pd.read_json('./data/regression/station_meta.json', typ='frame', orient='records')
m_fwy_meta_df.rename(columns={'station': 'S_ID', 'district' : 'DISTRICT_ID', 'latitude' : 'LAT', 'longitude' : 'LON', 'zip' : 'ZIP'}, inplace=True)
m_fwy_meta_df.drop(labels=['direction', 'freeway', 'name', 'urban'], axis=1, inplace=True)
m_fwy_meta_df

       DISTRICT_ID        LAT         LON     S_ID    ZIP
0                8  33.785651 -117.218642   819200  92570
1                8  33.785554 -117.218747   819201  92570
2               11  32.841682 -117.121715  1114114  92122
3                8  33.782061 -117.213169   819203  92570
4                8  33.889640 -117.270822   819204  92518
5                3  38.852429 -121.146352   316758  95658
6                8  33.897686 -117.274790   819206  92518
7               11  32.845641 -117.209753  1114119  92117
8               12  33.769824 -117.758692  1212424  92602
9                8  33.874539 -117.264715   819209  92518
10               8  33.885447 -117.269369   819210  92518
11               8  34.107120 -117.302357   819212  92410
12              10  37.767234 -121.331393  1015810  95304
13              11  32.841932 -117.121717  1114126  92122
14              12  33.774490 -117.757935  1212431  92602
15              12  33.774700 -117.758346  1212432  92602
16               8  34.137430 -117.314778   819217  92411
17               8  34.137523 -117.314595   819218  92411
18              11  32.847830 -117.076315  1114131  92124
19               8  34.099932 -117.301924   819220  92410
20               8  34.104262 -117.302176   819221  92410
21               8  34.085481 -117.301090   819222  92410
22               8  34.085432 -117.301270   819223  92410
23              11  32.837447 -117.234743  1114136  92037
24              12  33.779145 -117.754970  1212441  92602
25              12  33.779357 -117.755290  1212443  92602
26              11  32.846153 -117.188480  1114141  92117
27               8  33.889543 -117.271069   819205  92518
28              10  37.785760 -121.305278  1048610  95330
29              11  32.841823 -117.164749  1114147  92122
...            ...        ...         ...      ...    ...
10603            8  33.864636 -117.540828   819153  92879
10604           12  33.744980 -117.765231  1212372  92602
10605           12  33.745156 -117.765643  1212374  92602
10606           12  33.749991 -117.764319  1212382  92602
10607           12  33.750147 -117.764687  1212383  92602
10608           12  33.754000 -117.763603  1212390  92602
10609           12  33.754147 -117.763983  1212391  92602
10610            8  34.149045 -117.322112   819196  92407
10611            8  33.932186 -116.988375   819178  92223
10612           11  32.542842 -117.030331  1114091  92173
10613            8  33.936993 -116.996116   819180  92223
10614            8  33.933675 -116.991362   819181  92223
10615           12  33.758685 -117.761350  1212398  92602
10616            8  33.960486 -117.024179   819183  92223
10617            8  33.954259 -117.014462   819184  92223
10618            8  33.954259 -117.014462   819185  92223
10619            8  33.977902 -117.049472   819186  92320
10620            8  33.977902 -117.049472   819187  92320
10621           11  32.709969 -117.147511  1114100  92102
10622           12  33.762966 -117.759099  1212405  92602
10623           12  33.763114 -117.759498  1212406  92602
10624           12  33.758827 -117.761762  1212407  92602
10625            8  34.079057 -117.296915   819192  92408
10626            8  34.078998 -117.297082   819193  92408
10627            8  34.117232 -117.302707   819194  92410
10628            8  34.117224 -117.302924   819195  92411
10629           11  32.845413 -117.209402  1114108  92117
10630            8  34.149161 -117.321884   819197  92405
10631           12  33.766351 -117.758414  1212414  92602
10632           12  33.766516 -117.758825  1212415  92602

[10633 rows x 5 columns]

In [7]:
p1_list= ['wkday', 'wkend']
p2_list= ['weekday', 'weekend']
years= [2008, 2009, 2010, 2011, 2013, 2014, 2015]
#
p1= p1_list[0]
p2= p2_list[0]
y= years[0]
a_df= pd.read_csv('./data/regression/trim_{}_{}.csv'.format(y, p1), header=0)
c_df= pd.merge(a_df, m_fwy_meta_df, on='S_ID')
#
base_mean_path= './data/{}/total_flow_{}_mean_vector.pivot_{}_grouping_pca_tmp.csv'
base_eigs_path= './data/{}/total_flow_{}_eigenvectors.pivot_{}_grouping_pca_tmp.csv'
mean= pd.read_csv(base_mean_path.format(p2, p2, y), header=None).values[0]
eigs= pd.read_csv(base_eigs_path.format(p2, p2, y), header=None).values  # eigenvectors per row matrix (5 X 288)

rows= c_df[['Flow_Coef_1', 'Flow_Coef_2', 'Flow_Coef_3', 'Flow_Coef_4', 'Flow_Coef_5']].values

new_columns= np.zeros(len(rows))
for i, row in enumerate(rows):
    rec= get_reconstruction_from_projection(eigs, mean, row)
    new_columns[i]= np.mean(rec)

c_df['AGG_TOTAL_FLOW']= new_columns
c_df.drop([
    'S_ID',
    'Flow_Coef_1',
    'Flow_Coef_2',
    'Flow_Coef_3', 
    'Flow_Coef_4', 
    'Flow_Coef_5',
    'CHP_DESC',
    'CHP_DURATION',
    'CC_CODE',
    'ZIP'
], axis=1, inplace=True)
#
c_df['CHP_INC']= c_df.CHP_INC.apply(lambda v: 1 if v == 'T' else 0)
c_df['CHP_INC']= c_df.CHP_INC.astype(float)

c_df['DATE']= c_df.DATE.apply(lambda s: extract_day_of_week(s))
c_df.rename(columns={'DATE':'DAY_OF_WEEK'}, inplace=True)
#
print(c_df.dtypes)

hot1_columns= ['NUM_LANES', 'FWY_NUM', 'FWY_DIR', 'DAY_OF_WEEK', 'DISTRICT_ID']
for c in hot1_columns:
    hot1_encoding(c_df, c)
c_df

INFO:hot1_encoding_logger:
Applying Hot 1 encoding method to column NUM_LANES
INFO:hot1_encoding_logger:m_value_counts=4    732231
3    299021
5    253738
2    107156
6     58719
1     12967
7      4169
dtype: int64
INFO:hot1_encoding_logger:
Applying Hot 1 encoding method to column FWY_NUM
INFO:hot1_encoding_logger:m_value_counts=5      114346
101    111763
405    106675
80      73272
10      66208
805     65402
210     64222
91      63475
15      57985
605     57256
880     52728
60      42330
680     36067
280     32845
57      31678
710     30879
50      29232
99      27611
94      23622
105     21446
22      18920
110     18717
8       17410
118     16741
41      14461
85      14437
180     13183
73      12372
241     12080
30      11960
        ...
261      4770
37       4172
980      4161
215      4117
205      4031
90       3943
237      3517
133      3458
25       3144
242      2373
23       1962
238      1847
56       1839
65       1445
1        1081
29       1050
126       861
54        809
140       803
70        786
160       526
948       524
905       524
780       381
33        364
113       315
275       262
108        66
13         65
580        57
dtype: int64
INFO:hot1_encoding_logger:
Applying Hot 1 encoding method to column FWY_DIR
INFO:hot1_encoding_logger:m_value_counts=2    451281
1    450755
4    283802
3    282163
dtype: int64
INFO:hot1_encoding_logger:
Applying Hot 1 encoding method to column DAY_OF_WEEK
INFO:hot1_encoding_logger:m_value_counts=4    300813
2    296195
1    292643
3    292516
0    285834
dtype: int64
INFO:hot1_encoding_logger:
Applying Hot 1 encoding method to column DISTRICT_ID
INFO:hot1_encoding_logger:m_value_counts=7     481790
4     343676
12    247159
11    160093
8     103580
3      90282
10     32657
6       6097
5       2667
dtype: int64

NUM_LANES           int64
LEN               float64
URBAN               int64
DENSITY           float64
FWY_NUM             int64
FWY_DIR             int64
AVG_VALUE           int64
CHP_INC           float64
DAY_OF_WEEK         int64
DISTRICT_ID         int64
LAT               float64
LON               float64
AGG_TOTAL_FLOW    float64
dtype: object

,LEN,URBAN,DENSITY,AVG_VALUE,CHP_INC,LAT,LON,AGG_TOTAL_FLOW,Field_sourceCol_NUM_LANES_value_4,Field_sourceCol_NUM_LANES_value_3,...,Field_sourceCol_DAY_OF_WEEK_value_0,Field_sourceCol_DISTRICT_ID_value_7,Field_sourceCol_DISTRICT_ID_value_4,Field_sourceCol_DISTRICT_ID_value_12,Field_sourceCol_DISTRICT_ID_value_11,Field_sourceCol_DISTRICT_ID_value_8,Field_sourceCol_DISTRICT_ID_value_3,Field_sourceCol_DISTRICT_ID_value_10,Field_sourceCol_DISTRICT_ID_value_6,Field_sourceCol_DISTRICT_ID_value_5
0,0.966,1,5157.771414,425000,1,38.566948,-121.506049,195.356597,0,1,...,0,0,0,0,0,0,1,0,0,0
1,0.966,1,5157.771414,425000,0,38.566948,-121.506049,189.795183,0,1,...,0,0,0,0,0,0,1,0,0,0
2,0.966,1,5157.771414,425000,0,38.566948,-121.506049,146.227898,0,1,...,0,0,0,0,0,0,1,0,0,0
3,0.966,1,5157.771414,425000,0,38.566948,-121.506049,191.499171,0,1,...,1,0,0,0,0,0,1,0,0,0
4,0.966,1,5157.771414,425000,1,38.566948,-121.506049,187.595178,0,1,...,0,0,0,0,0,0,1,0,0,0
5,0.966,1,5157.771414,425000,0,38.566948,-121.506049,199.154174,0,1,...,0,0,0,0,0,0,1,0,0,0
6,0.966,1,5157.771414,425000,0,38.566948,-121.506049,201.004434,0,1,...,0,0,0,0,0,0,1,0,0,0
7,0.966,1,5157.771414,425000,0,38.566948,-121.506049,230.830796,0,1,...,0,0,0,0,0,0,1,0,0,0
8,0.966,1,5157.771414,425000,1,38.566948,-121.506049,191.970677,0,1,...,1,0,0,0,0,0,1,0,0,0
9,0.966,1,5157.771414,425000,1,38.566948,-121.506049,191.970677,0,1,...,1,0,0,0,0,0,1,0,0,0
10,0.966,1,5157.771414,425000,0,38.566948,-121.506049,198.843252,0,1,...,0,0,0,0,0,0,1,0,0,0
11,0.966,1,5157.771414,425000,1,38.566948,-121.506049,200.958067,0,1,...,0,0,0,0,0,0,1,0,0,0
12,0.966,1,5157.771414,425000,0,38.566948,-121.506049,209.127476,0,1,...,0,0,0,0,0,0,1,0,0,0
13,0.966,1,5157.771414,425000,0,38.566948,-121.506049,240.095629,0,1,...,0,0,0,0,0,0,1,0,0,0
14,0.966,1,5157.771414,425000,0,38.566948,-121.506049,180.708681,0,1,...,1,0,0,0,0,0,1,0,0,0
15,0.966,1,5157.771414,425000,1,38.566948,-121.506049,186.238369,0,1,...,0,0,0,0,0,0,1,0,0,0
16,0.966,1,5157.771414,425000,0,38.566948,-121.506049,253.976600,0,1,...,0,0,0,0,0,0,1,0,0,0
17,0.966,1,5157.771414,425000,0,38.566948,-121.506049,200.531651,0,1,...,0,0,0,0,0,0,1,0,0,0
18,0.966,1,5157.771414,425000,0,38.566948,-121.506049,283.581160,0,1,...,0,0,0,0,0,0,1,0,0,0
19,0.966,1,5157.771414,425000,0,38.566948,-121.506049,191.957928,0,1,...,1,0,0,0,0,0,1,0,0,0
20,0.966,1,5157.771414,425000,0,38.566948,-121.506049,190.935535,0,1,...,0,0,0,0,0,0,1,0,0,0
21,0.966,1,5157.771414,425000,0,38.566948,-121.506049,202.511407,0,1,...,0,0,0,0,0,0,1,0,0,0
22,0.966,1,5157.771414,425000,0,38.566948,-121.506049,197.447661,0,1,...,0,0,0,0,0,0,1,0,0,0
23,0.966,1,5157.771414,416800,0,38.566948,-121.506049,231.803408,0,1,...,0,0,0,0,0,0,1,0,0,0
24,0.966,1,5157.771414,416800,0,38.566948,-121.506049,193.599644,0,1,...,1,0,0,0,0,0,1,0,0,0
25,0.966,1,5157.771414,416800,0,38.566948,-121.506049,199.308542,0,1,...,0,0,0,0,0,0,1,0,0,0
26,0.966,1,5157.771414,416800,1,38.566948,-121.506049,202.675939,0,1,...,0,0,0,0,0,0,1,0,0,0
27,0.966,1,5157.771414,416800,0,38.566948,-121.506049,209.606089,0,1,...,0,0,0,0,0,0,1,0,0,0
28,0.966,1,5157.771414,416800,0,38.566948,-121.506049,238.990276,0,1,...,0,0,0,0,0,0,1,0,0,0
29,0.966,1,5157.771414,416800,0,38.566948,-121.506049,200.180621,0,1,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467971,0.290,1,774.428619,509200,1,33.683907,-117.764216,291.136979,1,0,...,1,0,0,1,0,0,0,0,0,0
1467972,0.290,1,774.428619,509200,1,33.683907,-117.764216,291.136979,1,0,...,1,0,0,1,0,0,0,0,0,0
1467973,0.290,1,774.428619,509200,1,33.683907,-117.764216,291.136979,1,0,...,1,0,0,1,0,0,0,0,0,0
1467974,0.290,1,774.428619,509200,1,33.683907,-117.764216,291.136979,1,0,...,1,0,0,1,0,0,0,0,0,0
1467975,0.290,1,774.428619,509200,1,33.683907,-117.764216,297.152676,1,0,...,0,0,0,1,0,0,0,0,0,0
1467976,0.290,1,774.428619,509200,1,33.683907,-117.764216,301.732561,1,0,...,0,0,0,1,0,0,0,0,0,0
1467977,0.290,1,774.428619,509200,1,33.683907,-117.764216,301.732561,1,0,...,0,0,0,1,0,0,0,0,0,0
1467978,0.290,1,774.428619,509200,1,33.683907,-117.764216,306.949075,1,0,...,0,0,0,1,0,0,0,0,0,0
1467979,0.290,1,774.428619,509200,1,33.683907,-117.764216,311.082091,1,0,...,0,0,0,1,0,0,0,0,0,0
1467980,0.290,1,774.428619,509200,0,33.683907,-117.764216,272.638244,1,0,...,1,0,0,1,0,0,0,0,0,0
1467981,0.290,1,774.428619,509200,1,33.683907,-117.764216,301.513878,1,0,...,0,0,0,1,0,0,0,0,0,0
1467982,0.290,1,774.428619,509200,1,33.683907,-117.764216,301.513878,1,0,...,0,0,0,1,0,0,0,0,0,0
1467983,0.290,1,774.428619,509200,1,33.683907,-117.764216,301.513878,1,0,...,0,0,0,1,0,0,0,0,0,0
1467984,0.290,1,774.428619,509200,1,33.683907,-117.764216,301.513878,1,0,...,0,0,0,1,0,0,0,0,0,0
1467985,0.290,1,774.428619,509200,1,33.683907,-117.764216,301.513878,1,0,...,0,0,0,1,0,0,0,0,0,0
1467986,0.290,1,774.428619,509200,1,33.683907,-117.764216,270.176037,1,0,...,0,0,0,1,0,0,0,0,0,0
1467987,0.290,1,774.428619,509200,1,33.683907,-117.764216,270.176037,1,0,...,0,0,0,1,0,0,0,0,0,0
1467988,0.290,1,774.428619,509200,1,33.683907,-117.764216,270.176037,1,0,...,0,0,0,1,0,0,0,0,0,0
1467989,0.290,1,774.428619,509200,0,33.683907,-117.764216,307.567289,1,0,...,0,0,0,1,0,0,0,0,0,0
1467990,0.290,1,774.428619,509200,1,33.683907,-117.764216,315.381661,1,0,...,0,0,0,1,0,0,0,0,0,0
1467991,0.290,1,774.428619,509200,1,33.683907,-117.764216,315.381661,1,0,...,0,0,0,1,0,0,0,0,0,0
1467992,0.290,1,774.428619,509200,1,33.683907,-117.764216,299.657327,1,0,...,1,0,0,1,0,0,0,0,0,0
1467993,0.290,1,774.428619,509200,1,33.683907,-117.764216,316.572758,1,0,...,0,0,0,1,0,0,0,0,0,0
1467994,0.290,1,774.428619,509200,0,33.683907,-117.764216,298.804881,1,0,...,0,0,0,1,0,0,0,0,0,0
1467995,0.290,1,774.428619,509200,1,33.683907,-117.764216,228.725573,1,0,...,0,0,0,1,0,0,0,0,0,0
1467996,0.290,1,774.428619,509200,0,33.683907,-117.764216,270.802804,1,0,...,0,0,0,1,0,0,0,0,0,0
1467997,0.290,1,774.428619,509200,0,33.683907,-117.764216,290.385877,1,0,...,1,0,0,1,0,0,0,0,0,0
1467998,0.290,1,774.428619,509200,1,33.683907,-117.764216,300.546434,1,0,...,0,0,0,1,0,0,0,0,0,0
1467999,0.290,1,774.428619,509200,1,33.683907,-117.764216,300.546434,1,0,...,0,0,0,1,0,0,0,0,0,0
1468000,0.290,1,774.428619,509200,0,33.683907,-117.764216,287.293514,1,0,...,0,0,0,1,0,0,0,0,0,0

In [8]:
for c in c_df.columns:
    print(c)

LEN
URBAN
DENSITY
AVG_VALUE
CHP_INC
LAT
LON
AGG_TOTAL_FLOW
Field_sourceCol_NUM_LANES_value_4
Field_sourceCol_NUM_LANES_value_3
Field_sourceCol_NUM_LANES_value_5
Field_sourceCol_NUM_LANES_value_2
Field_sourceCol_NUM_LANES_value_6
Field_sourceCol_NUM_LANES_value_1
Field_sourceCol_NUM_LANES_value_7
Field_sourceCol_FWY_NUM_value_5
Field_sourceCol_FWY_NUM_value_101
Field_sourceCol_FWY_NUM_value_405
Field_sourceCol_FWY_NUM_value_80
Field_sourceCol_FWY_NUM_value_10
Field_sourceCol_FWY_NUM_value_805
Field_sourceCol_FWY_NUM_value_210
Field_sourceCol_FWY_NUM_value_91
Field_sourceCol_FWY_NUM_value_15
Field_sourceCol_FWY_NUM_value_605
Field_sourceCol_FWY_NUM_value_880
Field_sourceCol_FWY_NUM_value_60
Field_sourceCol_FWY_NUM_value_680
Field_sourceCol_FWY_NUM_value_280
Field_sourceCol_FWY_NUM_value_57
Field_sourceCol_FWY_NUM_value_710
Field_sourceCol_FWY_NUM_value_50
Field_sourceCol_FWY_NUM_value_99
Field_sourceCol_FWY_NUM_value_94
Field_sourceCol_FWY_NUM_value_105
Field_sourceCol_FWY_NUM_value_22
Field_sourceCol_FWY_NUM_value_110
Field_sourceCol_FWY_NUM_value_8
Field_sourceCol_FWY_NUM_value_118
Field_sourceCol_FWY_NUM_value_41
Field_sourceCol_FWY_NUM_value_85
Field_sourceCol_FWY_NUM_value_180
Field_sourceCol_FWY_NUM_value_73
Field_sourceCol_FWY_NUM_value_241
Field_sourceCol_FWY_NUM_value_30
Field_sourceCol_FWY_NUM_value_12
Field_sourceCol_FWY_NUM_value_55
Field_sourceCol_FWY_NUM_value_4
Field_sourceCol_FWY_NUM_value_87
Field_sourceCol_FWY_NUM_value_51
Field_sourceCol_FWY_NUM_value_134
Field_sourceCol_FWY_NUM_value_78
Field_sourceCol_FWY_NUM_value_92
Field_sourceCol_FWY_NUM_value_71
Field_sourceCol_FWY_NUM_value_47
Field_sourceCol_FWY_NUM_value_2
Field_sourceCol_FWY_NUM_value_52
Field_sourceCol_FWY_NUM_value_24
Field_sourceCol_FWY_NUM_value_125
Field_sourceCol_FWY_NUM_value_120
Field_sourceCol_FWY_NUM_value_163
Field_sourceCol_FWY_NUM_value_67
Field_sourceCol_FWY_NUM_value_14
Field_sourceCol_FWY_NUM_value_170
Field_sourceCol_FWY_NUM_value_104
Field_sourceCol_FWY_NUM_value_17
Field_sourceCol_FWY_NUM_value_261
Field_sourceCol_FWY_NUM_value_37
Field_sourceCol_FWY_NUM_value_980
Field_sourceCol_FWY_NUM_value_215
Field_sourceCol_FWY_NUM_value_205
Field_sourceCol_FWY_NUM_value_90
Field_sourceCol_FWY_NUM_value_237
Field_sourceCol_FWY_NUM_value_133
Field_sourceCol_FWY_NUM_value_25
Field_sourceCol_FWY_NUM_value_242
Field_sourceCol_FWY_NUM_value_23
Field_sourceCol_FWY_NUM_value_238
Field_sourceCol_FWY_NUM_value_56
Field_sourceCol_FWY_NUM_value_65
Field_sourceCol_FWY_NUM_value_1
Field_sourceCol_FWY_NUM_value_29
Field_sourceCol_FWY_NUM_value_126
Field_sourceCol_FWY_NUM_value_54
Field_sourceCol_FWY_NUM_value_140
Field_sourceCol_FWY_NUM_value_70
Field_sourceCol_FWY_NUM_value_160
Field_sourceCol_FWY_NUM_value_948
Field_sourceCol_FWY_NUM_value_905
Field_sourceCol_FWY_NUM_value_780
Field_sourceCol_FWY_NUM_value_33
Field_sourceCol_FWY_NUM_value_113
Field_sourceCol_FWY_NUM_value_275
Field_sourceCol_FWY_NUM_value_108
Field_sourceCol_FWY_NUM_value_13
Field_sourceCol_FWY_NUM_value_580
Field_sourceCol_FWY_DIR_value_2
Field_sourceCol_FWY_DIR_value_1
Field_sourceCol_FWY_DIR_value_4
Field_sourceCol_FWY_DIR_value_3
Field_sourceCol_DAY_OF_WEEK_value_4
Field_sourceCol_DAY_OF_WEEK_value_2
Field_sourceCol_DAY_OF_WEEK_value_1
Field_sourceCol_DAY_OF_WEEK_value_3
Field_sourceCol_DAY_OF_WEEK_value_0
Field_sourceCol_DISTRICT_ID_value_7
Field_sourceCol_DISTRICT_ID_value_4
Field_sourceCol_DISTRICT_ID_value_12
Field_sourceCol_DISTRICT_ID_value_11
Field_sourceCol_DISTRICT_ID_value_8
Field_sourceCol_DISTRICT_ID_value_3
Field_sourceCol_DISTRICT_ID_value_10
Field_sourceCol_DISTRICT_ID_value_6
Field_sourceCol_DISTRICT_ID_value_5

In [10]:
c_df.to_csv('./data/regression/preprocessed_2008_wkday.csv', index=False)